<div class="container">
  <div class="body">
    <div class="row">
      <h1>Stupid Coaching</h1>
      <h5>Ask your couch anything:</h5>
    </div>
    <div class="row">
      <form action="answer" method="get">
        <input type="text" name="user_input">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
